* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;

    background-color: rgb(35, 35, 36);
    color: rgb(255, 210, 148);
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}