* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;


	color: rgb(255, 210, 148);
}

body {
	background-color: rgb(35, 35, 36);
	background-image: url(./assets/banner-pizza.jpg);
	background-size: cover;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

button {
    background: none;
    font: inherit;
	cursor: pointer;
	margin-left: 5px;
	height: 40px;
	width: 70px;

}

button:hover{
	border: 1px solid rgb(255, 210, 148);
	border-radius: 10px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

nav {
	height: 40px;
}

#logo{
	font-size: 24px;
	display: flex;
}
